.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.nav-links button {
  margin-right: 0.5rem;
  color: black;
  font-weight: 500;
}

.spacer {
  flex: 1;
}

mat-icon {
  color: black;
}
