<app-ferie-filtro (filtroChanged)="cambiaFiltro($event)"></app-ferie-filtro>

<div class="calendario">
  <div class="mese" *ngFor="let calendario of calendars()">
    <div class="mese-header">{{ calendario.monthName.toUpperCase() }} {{ calendario.year }}</div>
    <table>
      <thead>
      <tr>
        <th>Lun</th><th>Mar</th><th>Mer</th><th>Gio</th><th>Ven</th><th>Sab</th><th>Dom</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let week of calendario.weeks">
        <td *ngFor="let giorno of week" [ngClass]="getTipoGiorno(giorno)">
          {{ giorno ? giorno.getDate() : '' }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
