<mat-form-field appearance="outline" class="filter-select">
  <mat-label>Seleziona filtro</mat-label>
  <mat-select [value]="selectedFiltro" (selectionChange)="onFiltroChange($event.value)">
    <mat-option [value]="0">Fine anno</mat-option>
    <mat-option [value]="1">1 mese</mat-option>
    <mat-option [value]="2">2 mesi</mat-option>
    <mat-option [value]="3">3 mesi</mat-option>
    <mat-option [value]="4">4 mesi</mat-option>
    <mat-option [value]="6">6 mesi</mat-option>
    <mat-option [value]="12">Tutto l’anno</mat-option>
  </mat-select>
</mat-form-field>

