<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="side">
    <div class="brand">
      <div class="logo">Timeoffly</div>
      <span class="tag">Enterprise</span>
    </div>

    <mat-nav-list>
      <ng-container *ngFor="let item of navItems">
        <a mat-list-item
           *ngIf="hasAccess(item)"
           [routerLink]="item.route"
           routerLinkActive="active">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar class="topbar" color="primary">
      <div class="topbar-left">
        <div class="breadcrumbs">Gestione ferie • Dashboard professionale</div>
      </div>

      <span class="spacer"></span>

      <div class="user" *ngIf="(user$ | async) as user">
        <span class="user-name">{{ user.username }}</span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profilo">
        <mat-icon>person</mat-icon>
        <span>Profilo</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
