<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="side">
    <div class="brand">
      <app-brand-lockup size="sm"></app-brand-lockup>
      <span class="suite-badge">Suite TimeOffly</span>
    </div>

    <div class="nav-section">
      <div class="nav-section-title">Funzionalita'</div>
      <mat-nav-list class="nav-list">
        <ng-container *ngFor="let item of navItems">
          <a mat-list-item
             *ngIf="hasAccess(item)"
             [routerLink]="item.route"
             routerLinkActive="active">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        </ng-container>
      </mat-nav-list>
    </div>

    <div class="nav-section nav-section-profile">
      <div class="nav-section-title">Profilo</div>
      <mat-nav-list class="nav-list">
        <a mat-list-item
           *ngIf="hasAccess(profileItem)"
           [routerLink]="profileItem.route"
           routerLinkActive="active">
          <mat-icon matListItemIcon>{{ profileItem.icon }}</mat-icon>
          <span matListItemTitle>{{ profileItem.label }}</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar class="topbar" color="primary">
      <div class="topbar-left">
        <div class="breadcrumbs">Gestione ferie e permessi</div>
      </div>

      <span class="spacer"></span>

      <div class="user" *ngIf="(user$ | async) as user">
        <span class="user-name">{{ displayName(user) }}</span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profilo">
        <mat-icon>person</mat-icon>
        <span>Profilo</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
